---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 150
BreakBeforeBraces: Allman
IndentCaseLabels: false
PointerAlignment: Right
AlignTrailingComments: true
SortIncludes: false
